<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.hike.apps.android_mpos_mumu"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:roundIcon,android:theme,android:name,android:label">
        <activity android:name=".KotaAsal"></activity>
        <activity android:name=".FragmentPulangPergi" />
        <activity android:name=".FragmentSekaliJalan" />
        <activity android:name=".ScannerQrCode" />
        <activity android:name=".KonfirmasiPembayaranByQrCode" />
        <activity android:name=".HasilScanQrCode" />
        <activity android:name=".TotalTagihanTelepon" />
        <activity android:name=".RegisLinkAjaBerhasil" />
        <activity android:name=".features.profil.GantiPin" />
        <activity android:name=".features.profil.LoginGantiPin" />
        <activity android:name=".features.pdam.PdamActivity" />
        <activity android:name=".features.destinansi.DestinasiActivity" />
        <activity android:name=".features.tagihan_telepon.TagihanTeleponActivity" />
        <activity android:name=".features.home.narasi.TicketNarasiActivity" />
        <activity android:name=".features.home.narasi.TelkomNarasiActivity" />
        <activity
            android:name=".regstep.LupaPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".features.proteksi.ProteksiActivity" />
        <activity android:name=".features.profil.activity.ChangePasswordActivity" />
        <activity
            android:name=".features.kamera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pin_verifikasi.InFrameWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.landing_page.AktivasiWalletActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".regstep.RegistrasiBerhasilActivity" />
        <activity
            android:name=".regstep.RegStepSimpleActivity"
            android:windowSoftInputMode="adjustPan" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.vision.DEPENDENCIES" -->
        <!-- android:value="barcode" /> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".features.landing_page.LandingPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".features.profil.Profil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.aktifitas.AktifitasHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pelanggan.Pelanggan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.home.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".features.payment.Payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.receipt_invoice.ReceiptInvoice"
            android:screenOrientation="portrait"
            android:theme="@style/StrukTheme" />
        <activity
            android:name=".features.summary.SummaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".features.pelanggan.PelangganSearchResult"
            android:screenOrientation="portrait" />
        <activity android:name=".features.landing_page.A_ZoomImage" />
        <activity
            android:name=".features.splash.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.landing_page.A_TambahProduk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TesSlider"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.profil.PosCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.kode_otp.KodeOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.AkadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.tnc.TncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakafku.Wakafku"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.RsHasyimAsyariUntukDhuafa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.WakafDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.PesantrenProduktifSmartHafidzVillage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.ProgramWakafActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.top_up.TopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.top_up.TopUpActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.PembayaranWakaf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.donasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.DonasiSecondActivityBaru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.ZakatSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.ZakatSecondActivityBaru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.AkadDonasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.AkadZakatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.TotalDonasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.donasi.TotalZakatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.pin_verifikasi.PinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wakaf.TotalWakafActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.profil.profilConto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.utils.UtilDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.proteksi.SantunanDhuafaBalance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.proteksi.AkadSantunan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.proteksi.TotalSantunan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.top_up.RegisterLinkAja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NextRegistrasiLinkAja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NextStepRegisLinkAja"
            android:screenOrientation="portrait" />
    </application>

</manifest>